.root {
  @mixin responsive gap, 10, 20;

  display: flex;
  flex-wrap: wrap;
}

.loader {
  @mixin responsive width, 40, 50;
  @mixin responsive height, 40, 50;
}

.button[class].active {
  background-color: var(--color-gray-5);
}
